<b-card v-for="(partition, partition_name) in node" v-bind:header="partition_name" no-body :key="partition_name">
  <b-card-body>
    <b-card v-for="(queue, queue_name) in partition" v-bind:title="queue_name" :key="queue_name">
      <b-button-group size="sm">
        <b-button variant="link" @click="select_queue(node_name, partition_name, queue_name)">Show Jobs</b-button>
      </b-button-group>
      <dl class="row">
        <dt class="col-sm-9">Message Count:</dt>
        <dd>{{ queue.message_count }}</dd>
        <dt class="col-sm-9">Max Workers:</dt>
        <dd>{{ queue.max_workers }}</dd>
        <dt class="col-sm-9">Consumer Count:</dt>
        <dd>{{ queue.consumer_count }}</dd>
      </dl>
    </b-card>
  </b-card-body>
</b-card>
