<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title>Roger UI</title>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid" id="app" v-cloak>
      <b-navbar toggleable="md" type="dark" variant="info">
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">Roger UI</b-navbar-brand>
        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item href="#">Dashboard</b-nav-item>
          </b-navbar-nav>
          <b-navbar-nav class="ml-auto">
            <b-button size="sm" class="my-2 my-sm-0" variant="primary"
              @click="toggle_autorefresh()">
              <span v-if="autorefresh">Stop Autorefresh</span>
              <span v-else="autorefresh">Start Autorefresh</span>
            </b-button>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
      <b-tabs>
        <b-tab v-for="(node, node_name) in nodes" v-bind:title="node_name" :key="node_name">
          <b-row>
            <b-col id="partitions" cols="12" sm="5" md="3"></b-col>
            <b-col cols="12" md="9">
              <b-row v-if="selected_queue">
                <b-col id="queued" cols="12"></b-col>
                <b-col id="running" cols="12"></b-col>
              </b-row>
              <b-row v-else>
                <b-col class="text-center my-3" cols="12">
                  <h3>Click "Show Jobs" link to see queued and running jobs</h3>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </b-tab>
      </b-tabs>
    </div>
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js"></script>
    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="assets/app.js"></script>
  </body>
</html>
